.Changepass-container {
  padding: 16px;
  width: 700px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

h1 {
  text-align: center;
}

input[type='password'] {
  width: 50%;
  padding: 15px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type='password']:focus {
  background-color: #ddd;
  outline: none;
}

b {
  margin-left: 25%;
}
.Changepass-confirm {
  background-color: #04aa6d;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  width: 80px;
  height: 30px;
  border-radius: 3px;
}

.Changepass-confirm:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}

.Changepass-signin {
  text-align: center;
}
