.customer-main {
  display: block;
  width: 100%;
  height: 100%;
}
.customer-flex-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.customer-header {
  display: block;
  flex: 0 0 10%;
}
.customer-content {
  display: block;
  flex: 0 0 450px;
  padding: 0px 15px;
}
