.customer-main {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}
.customer-flex-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.customer-header {
  display: block;
  flex: 0 0 10%;
}
.customer-content {
  display: flex;
  flex: 1;
  max-height: 450px;
  width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
  flex-direction: column;
  border: 1px solid #ccc;
  justify-content: space-between;
}
.customer-footer {
  flex: 0 0 35px;
  display: flex;
  flex-direction: row;
}
.customer-footer > div {
  max-width: 600px;
  display: flex;
  flex: 1;
  padding-left: 40px;
  justify-content: space-between;
  align-items: center;
}

.customer-content > div:first-child {
  position: relative;
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}
.customer-content > div:first-child > div:last-child {
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.customer-table-header {
  flex: 0 0 50px;
  flex-direction: row;
  display: flex;
  width: 100%;
  padding-right: 6px;
  position: relative;
  background-color: #ccc;
}
.customer-table-header > div {
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.customer-row-data {
  background-color: #f2f2f2;
  display: flex;
  width: 100%;
  flex: 0 0 30px;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-right: 5px;
  font-size: 14px;
}
.customer-row-data:hover {
  background-color: #ddd;
}

.customer input {
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
  right: 10px;
}

button:active {
  opacity: 0.8;
}
