.login {
  display: block;
  height: 100%;
  width: 100%;
}
.login-flex-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(244, 247, 242);
  padding: 80px 100px;
}
.to-signup {
  flex: 0 0 33.33333%;
  position: relative;
}
.login-child {
  flex: 0 0 100%;
  background-color: #fff;
  border: 2px solid #f2f2f2;
  display: flex;
}
.login-form {
  display: flex;
  flex: 0 0 66.66667%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-icon img {
  width: 50px;
  height: 50px;
}
.login-title {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-input {
  margin: 5px 0;
}
.login-input input {
  height: 30px;
  width: 200px;
  padding: 3px;
  border: none;
  outline: none;
  padding: 0 20px;
  display: flex;
  text-indent: 10px;
  border-bottom: 1px solid #000;
}
.login-input input:focus {
  border-bottom: 2px solid #000;
}

.login-button {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}
.login-button button {
  cursor: pointer;
  height: 30px;
  background-color: rgb(244, 247, 242);
  border: none;
  width: 65px;
}
