.login {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.login-flex-box {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.login-child {
  flex: 0 0 60%;
  max-width: 60%;
  margin-left: 20%;
  background-color: #fff;
  display: flex;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 5%;
  border: 2px solid #000;
  justify-content: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-icon img {
  width: 50px;
  height: 50px;
}
.login-title {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-input {
  margin: 5px 0;
}
.login-input input {
  height: 30px;
  padding: 3px;
}

.login-button {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}
.login-button button {
  height: 30px;
  background-color: cornflowerblue;
  border: none;
  width: 65px;
}
