.order-main {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}
.order-flex-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.order-header {
  display: block;
  flex: 0 0 10%;
}
.order-content {
  display: flex;
  flex: 1;
  width: 950px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-height: 450px;
  flex-direction: column;
  border: 1px solid #ccc;
  justify-content: space-between;
}
.order-footer {
  flex: 0 0 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  padding: 0 10px;
  justify-content: space-between;
  max-height: 470px;
}
.order-content > div:first-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
}
.order-content > div:first-child > div:last-child {
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.order-table-header {
  flex: 0 0 50px;
  flex-direction: row;
  display: flex;
  width: 100%;
}
.order-ele::-webkit-scrollbar {
  height: 3px;
}
.order-table-header > div {
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;
  background-color: #ccc;
  justify-content: center;
}

.order-row-data {
  display: flex;
  width: 100%;
  flex: 0 0 30px;
  max-height: 60px;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  padding-right: 5px;
  background-color: #f2f2f2;
}

.order-row-data:hover {
  background-color: #ddd;
}
.order-row-data > div::-webkit-scrollbar {
  width: 2px;
}
.order-row-data > div::-webkit-scrollbar-thumb {
  background-color: #000;
}

.order-footer > div {
  position: relative;
}
.order-footer > div > span {
  font-weight: 700;
  cursor: pointer;
}
.display-filter {
  height: 120px;
  width: 150px;
  background-color: #ccc;
  position: absolute;
  display: none;
  flex-direction: column;
}
.display-filter > div {
  padding: 0 10px;
  display: flex;
  align-items: center;

  flex: 0 0 30px;
  cursor: pointer;
}
.display-filter > div:hover {
  background-color: #000;
  color: #fff;
}
.display-filter:hover {
  display: flex;
}
.order-footer > div > span:hover + .display-filter {
  display: flex;
}
