.order-main {
  display: block;
  width: 100%;
  height: 100%;
}
.order-flex-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.order-header {
  display: block;
  flex: 0 0 10%;
}
.order-content {
  display: block;
  height: 100%;
  padding: 0px 15px;
}
