.transaction-main {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}
.transaction-flex-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.transaction-header {
  display: block;
  flex: 0 0 10%;
}
.transaction-content {
  display: flex;
  flex: 1;
  width: 800px;
  max-height: 450px;
  margin: 0 auto;
  margin-bottom: 20px;
  flex-direction: column;
  border: 1px solid #ccc;
  justify-content: space-between;
}
.transaction-footer {
  flex: 0 0 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  padding: 0 15px;
  justify-content: space-between;
}
.transaction-content > div:first-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
}
.transaction-content > div:first-child > div:last-child {
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.trans-table-header {
  flex: 0 0 50px;
  flex-direction: row;
  display: flex;
  width: 100%;
}
.trans-table-header > div {
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;
  background-color: #ccc;
  justify-content: center;
}

.trans-row-data {
  display: flex;
  width: 100%;
  flex: 0 0 30px;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.trans-row-data:hover {
  background-color: #ddd;
}
.transaction-footer > div {
  position: relative;
}
.transaction-footer > div > span {
  font-weight: 700;
  cursor: pointer;
}
.display-filter {
  height: 90px;
  width: 120px;
  background-color: #ccc;
  position: absolute;
  display: none;
  flex-direction: column;
  top: -90px;
}
.display-filter > div {
  padding: 0 10px;
  display: flex;
  align-items: center;

  flex: 0 0 30px;
  cursor: pointer;
}
.display-filter > div:hover {
  background-color: #000;
  color: #fff;
}
.display-filter:hover {
  display: flex;
}
.transaction-footer > div > span:hover + .display-filter {
  display: flex;
}
