.manage-table {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}
.manage-table-flex-box {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
}

.manage-table span {
  height: 100%;
}

.manage-table .header-table {
  flex: 0 0 7%;
  display: flex;
  background-color: #ccc;
  align-items: center;
  color: #000;
  padding-right: 28px;
  text-align: center;
  width: 100%;
}
.manage-table-row {
  border: 1px solid #ccc;
  display: flex;
  flex: 1;
  overflow: auto;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;
}

.manage-table .row-data {
  flex: 0 0 10%;
  display: flex;
  background-color: #f2f2f2;
  color: #000;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding-right: 22px;
  text-align: center;
}
.manage-table .expand-row {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.manage-table .row-data:hover {
  background-color: #ddd;
  color: #fff;
}
.manage-table-expand-row {
  flex: 0 0 90px;
  color: #000;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

.manage-table-expand {
  display: flex;
  flex-direction: column;
  flex: 100%;
  background-color: #fff;
  padding-right: 22px;
}

.manage-table-bt-group {
  display: flex;
  flex: 0 0 35px;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 30%;
}
.manage-table-bt-group button {
  border: none;
  outline: none;
  cursor: pointer;
  height: 70%;
  width: 50px;
}
.manage-table-content-group {
  display: flex;
  flex: auto;
  flex-direction: row;
  align-items: center;
}

.manage-table-footer {
  border: 1px solid #ccc;
  border-top: 0;
  flex: 0 0 35px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: space-between;
  font-size: 14px;
}

.manage-table-footer > div > span {
  margin-right: 100px;
  display: flex;
  align-items: center;
}

.manage-table-footer > div > div {
  position: relative;
}
.display-filter {
  height: 90px;
  width: 120px;
  background-color: #ccc;
  position: absolute;
  display: none;
  flex-direction: column;
  top: -90px;
}
.display-filter > div {
  align-items: center;
  padding: 0 10px;
  display: flex;
  flex: 0 0 30px;
  cursor: pointer;
}

.display-filter > div:hover {
  background-color: #000;
  color: #fff;
}
.display-filter:hover {
  display: flex;
}
.filter-span {
  cursor: pointer;
  font-weight: 700;
}
.filter-span:hover + .display-filter {
  display: flex;
}
