.nav_bar {
  display: block;
  height: 100%;
}
.nav_bar-flex-box {
  display: flex;
  flex-direction: column;
  flex: 0 0 90%;
  justify-content: flex-start;
  position: relative;
}
.nav_bar-title {
  padding: 5px 20px;
  display: flex;
  flex: 0 0 40px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: #ccc;
}
.nav_bar-title-item {
  flex: 0 0 20%;
  height: 100%;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav_bar-title-item .option {
  height: 25px;
  background-color: #ccc;
  border: none !important;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  z-index: 100;
  padding: 0;
  padding-right: 10px;
  border-radius: 0;
}
.nav_bar-title-item .Dropdown-arrow {
  top: 50%;
  right: 0;
}
.nav_bar-title-item .menu {
  width: max-content;
}
.nav_bar-title-item .Dropdown-control {
  display: flex;
  align-items: center;
  background-color: #ccc;
  cursor: pointer;
}
.nav_bar-title-item .Dropdown-control div {
  font-size: 16px;
}
.nav_bar-content {
  flex: 0 0 430px;
  overflow-y: hidden;
  scrollbar-width: none;
  z-index: 1;
}
div::-webkit-scrollbar {
  width: 7px;
}

div::-webkit-scrollbar-track {
  background: #fff;
}
div::-webkit-scrollbar-track-piece {
  background: #fff;
  height: 500px;
}
div::-webkit-scrollbar-thumb {
  background: #ddd;
}
.nav_bar-footer {
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}

.nav_bar-title-item .Dropdown-root {
  height: 100%;
}
.nav_bar-title-item .Dropdown-control {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
}
