.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  position: relative;
}

.table td {
  padding: 6px;
}

.table tr:hover {
  background-color: #f2f2f2;
}

.table th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: #ddd;
  color: white;
}
.table-gap {
  height: 14px;
  width: 100%;
}
th {
  position: sticky;
  top: 0;
  width: 100%;
}
