.table-table {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.table-table-flex-box {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
}

.table-table .table-header {
  flex: 0 0 7%;
  display: flex;
  background-color: #ccc;
  align-items: center;
  color: #000;
  padding-right: 25px;
}
.table-table .header .select {
  flex: 0 0 50px;
  display: flex;
  margin-right: 3px;
  justify-content: center;
}
.table-table .select {
  flex: 0 0 44px;
  display: flex;
  justify-content: center;
}

.table-table-row {
  display: flex;
  flex: 0 0 85%;
  overflow: auto;
  flex-direction: column;
  position: relative;
}

.table-table .row-data {
  flex: 0 0 10%;
  display: flex;
  background-color: #f2f2f2;
  color: #000;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
}
.table-table .row-data:hover {
  cursor: pointer;
  background-color: rgb(74, 68, 68);
}

.table-footer {
  flex: 0 0 8%;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.table-footer span {
  font-size: 14px;
}
