.login {
    display: block;
    height: 100%;
    background-color: #fff;
  }
  .login-flex-box {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  .login-child {
    flex: 0 0 30%;
    max-width: 30%;
    margin-left: 35%;
    background-color: #fff;
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 5%;
    border: 2px solid #000;
    justify-content: center;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .login-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-icon img {
    width: 30px;
    height: 30px;
  }
  .login-title {
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-input {
    margin: 5px 0;
  }
  .login-input input {
    height: 30px;
    padding: 3px;
  }
  
  .login-button {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .login-button button {
    height: 25px;
  }