/* .footer {
  display: block;
  flex: 0 0 300px;
  background-color: rgb(39, 36, 36);
}
.footer-flex-box {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
}
.footer-container {
  flex: 0 0 250px;
  color: #f1f1f1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-container div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-button-bar {
  flex: 0 0 50px;
  color: #f1f1f1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-button-bar div {
  display: flex;
  align-items: center;
}
.footer-button-bar h4 {
  font-weight: 100;
  font-size: 10;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

footer {
  flex: 0 0 400px;
  position: relative;
  padding: 50px 100px;
  background: #171716;
  display: flex;
}

.container {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.footer_contact {
}

.footer_contact h2 {
  position: relative;
  color: #fff;
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 30px;
}
.footer_contact h2:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}
.footer_contact ul li {
  list-style: none;
}
.footer_contact ul li a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 7px;
  display: inline-block;
}

.footer_navigate h2 {
  position: relative;
  color: #fff;
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 30px;
}
.footer_navigate h2::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}
.footer_navigate {
  position: relative;
}
.footer_navigate ul li {
  list-style: none;
}
.footer_navigate ul li a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 7px;
  display: inline-block;
}

.footer_brand h2 {
  position: relative;
  color: #fff;
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 30px;
}
.footer_brand h2::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}
.footer_brand {
  position: relative;
}
.footer_brand ul li {
  list-style: none;
}
.footer_brand ul li a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 7px;
  display: inline-block;
}

.footer_logo {
  position: absolute;
  height: auto;
  width: 400px;
  right: 0;
  top: 0;
  object-fit: fill;
}

.social-icon {
  margin-top: 20px;
  display: flex;
}
.social-icon img {
  height: 40px;
  width: 40px;
  border-radius: 4px;
}
.social-icon li {
  list-style: none;
}
.social-icon li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  text-decoration: none;
  border-radius: 4px;
}
