.overlay {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
}
.overlay-flex-box {
  cursor: default;
  position: absolute;
  width: 300px;
  height: 400px;
  top: 30%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  background-color: #f2f2f2;
  text-align: center;
  z-index: 11;
  display: flex;
  flex-direction: column;
}
.overlay-title {
  padding: 30px 10px;
  flex: 0 0 10%;
  justify-content: center;
  align-items: center;
}
.overlay-avar {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overlay-avar img {
  width: 80%;
  height: auto;
}
.overlay-gr-button {
  flex: 0 0 30%;
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 240px;
  padding-top: 40px;
  margin: 0 auto;
}
.overlay-gg {
  height: 45px;
  flex: 0 0 100px;
  margin: 0 5px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.overlay-gg button {
  height: 100%;
  width: 100%;
  display: flex;
  box-shadow: none;
}
.overlay-gg button div {
  border-radius: 0;
}
.overlay-fb button div {
  border-radius: 0;
}
.overlay-fb span {
  height: 100%;
  width: 100%;
  display: flex;
  box-shadow: none;
}
.overlay-fb button {
  width: 100%;
  padding: 5px;
  font-size: 13px;
}
.overlay-fb {
  height: 45px;
  flex: 0 0 100px;
  margin: 0 5px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
}

.kep-login-facebook {
  padding: 0;
  margin: 0;
}
.overlay-exit {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #ccc;
}
.overlay-exit img {
  width: 30px;
  height: 30px;
}
