.cart {
}
.cart-container {
  padding: 20px 10px;
  height: 100%;
  background-color: #f2f2f2;
}
.cart-flex-box {
  max-width: 1200px;
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-header {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  background-color: #fff;
  flex: 0 0 100px;
  padding: 20px 15px;
  align-items: center;
  flex-direction: row;
}
.cart-header div {
  display: flex;
  align-items: center;
}
.cart-header div img {
  height: 40px;
  width: 40px;
  right: 30px;
}
.cart-header div span {
  border-left: 1px solid #ccc;
  margin-left: 20px;
  padding-left: 20px;
}
.cart-title {
  font-size: 16px;
  font-weight: 200;
  display: flex;
  background-color: #fff;
  flex: 0 0 50px;
  padding: 10px 15px;
  align-items: center;
  flex-direction: row;
}
.cart-check-all {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  align-items: center;
  height: 100%;
}
.cart-check-all > div:first-child {
  height: 100%;
  width: 30px;
  display: flex;
  align-items: center;
}
.cart-check-all > div:first-child input {
  height: 15px;
  width: 15px;
}

.cart-title > div:last-child,
.cart-product > div:last-child {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.cart-title > div:last-child > div,
.cart-product > div:last-child > div {
  flex: 1;
  display: flex;
  justify-content: center;
}

.cart-product {
  font-size: 16px;
  font-weight: 200;
  display: flex;
  background-color: #fff;
  flex: 0 0 150px;
  padding: 10px 15px;
  align-items: center;
  flex-direction: row;
}
.cart-bottom-header {
  flex: 0 0 30px;
  width: 100%;
  padding: 0 15px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.cart-bottom-header > div,
.cart-bottom-display > div {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  width: 400px;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 50px;
  position: relative;
}
.cart-expand-gift {
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: #f2f2f2;
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  z-index: 1001;
}
.cart-expand-gift > div {
  overflow-y: auto;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cart-expand-gift > div > div {
  flex: 0 0 25px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cart-expand-gift > div > div:hover {
  background-color: #ccc;
}
.cart-bottom-display {
  flex: 0 0 40px;
  width: 100%;
  padding: 0px 15px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 15px;
}
.cart-bottom-main {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 20px 15px;
}
.cart-bottom-bar-container {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  background-color: #fff;
  height: 150px;
  align-items: center;
  flex-direction: column;
  position: sticky;
  bottom: 0;
  z-index: 999;
  border-top: 1px solid #ccc;
  box-shadow: 0px 0px 7px #ccc;
}
.cart-bottom-function-bar {
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cart-total {
  font-weight: 500;
  font-size: 16px;
}
.cart-buy {
  width: 140px;
  height: 60px;
  display: flex;
  align-items: center;
}
.cart-buy button {
  width: 100%;
  height: 30px;
  background-color: #000;
  color: #fff;
}
.cart-delete > span {
  cursor: pointer;
}
.cart-delete > span:hover {
  color: red;
}

.cart-quantity > div {
  display: flex;
  flex-direction: row;
  max-width: 100px;
}
.cart-quantity > div > span {
  display: flex;
  justify-content: center;
  width: 30px;
  font-size: 17px;
  cursor: pointer;
}
.cart-quantity > div > span:nth-child(2) {
  width: 40px;
  font-size: 15px;
  cursor: default;
}
.cart-quantity > div > span:not(:nth-child(2)):hover {
  color: red;
}

.edit-size {
  position: relative;
}
.edit-size > span:first-child {
  height: 20px;
  line-height: 1.5;
}
.edit-size > span:first-child:hover {
  cursor: pointer;
  color: red;
}
.edit-size > img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.fix-console {
  position: absolute;
  top: 100%;
  width: 230px;
  z-index: 1010;
  height: auto !important;
  padding: 20px 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  flex-direction: column !important;
  align-items: unset !important;
}
.fix-item {
  display: flex;
  flex-direction: column !important;
  width: 100% !important;
  justify-content: flex-start;
}
.list-fix {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.list-fix > span {
  padding: 5px;
  margin-right: 3px;
  margin-bottom: 3px;
  border: 1px solid #ccc;
}

.list-fix > span:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.fix-gr-button {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fix-gr-button > button {
  height: 30px;
  width: 70px;
  background-color: #000;
  color: #fff;
}
