.gift-container {
  background-color: #f2f2f2;
  min-height: 500px;
}
.gift-grid {
  padding: 20px 0;
  max-width: 1200px;
  padding: 20px 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.gift-nav {
  flex: 0 0 16.66667%;
  display: flex;
  flex-direction: column;
}
.gift-group-function {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 30px 0;
}
.gift-nav-element {
  padding: 7px 0;
  align-items: center;
  flex: 0 0 40px;
  display: flex;
  flex-direction: row;
}
.gift-nav-element-icon {
  padding-right: 10px;
}
.gift-nav-element-title {
  cursor: pointer;
}
.gift-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-left: 30px;
  padding: 0 20px;
}

.gift-group-info {
  flex: 0 0 80px;
}
.gift-group-info > div {
  height: 100%;
  padding: auto 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #b3b1b1;
}

.gift-title {
  flex: 0 0 80px;
  display: flex;
  padding: 15px 0;
  flex-direction: column;
  border-bottom: 1px solid #b3b1b1;
}
.gift-list {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gift-list > div {
  height: 100px;
  flex: 0 0 50%;
  padding-bottom: 10px;
  position: relative;
}
.gift-list > div:nth-child(2n + 1) {
  padding-right: 20px;
}
.gift-element {
  border: 1px solid #ccc;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.gift-list > div:nth-child(2n) > div:last-child {
  right: 10px;
}
.gift-list > div > div:last-child {
  position: absolute;
  top: 15px;
  right: 30px;
  cursor: pointer;
}
.gift-list > div > div:last-child:hover {
  color: red;
}

.gift-element > div:first-child {
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(186, 228, 102);
}
.gift-element > div:last-child {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.gift-element > div:last-child div {
  display: flex;
  align-items: center;
  flex: 1;
}
