.page {
  display: block;
  flex: 0 0 auto;
}
.page-flex-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page-title {
  padding: 20px;
  display: flex;
  flex: 0 0 50px;
  align-items: center;
  justify-content: center;
}
.page-function {
  position: relative;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 0 0 50px;
  padding: 10px 30px;
}
.page-function .page-product,
.page-filter {
  height: 100%;
  display: flex;
  flex: 0 0 90px;
  align-items: center;
  justify-content: space-between;
}
.page-view {
  flex: 0 0 110px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.page-function .page-view span,
.page-product span,
.page-filter span {
  font-size: 15px;
  font-weight: 100;
  display: flex;
  text-align: center;
  justify-content: center;
}
.page-filter img {
  height: 20px;
  width: 20px;
}
.page-expand-feature {
  height: 180px;
  width: 180px;
  position: absolute;
  top: 100%;
  right: 35px;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}
.page-expand-feature span {
  font-size: 13px;
}
.page-expand-feature-elements {
  flex: 0 0 30px;
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.page-expand-feature-elements:hover {
  background-color: #ddd;
  text-decoration: underline;
}

.page-view img {
  height: 20px;
  width: 20px;
  opacity: 0.4;
}

.page-display {
  display: flex;
  flex: 0 0 75%;
  flex-wrap: wrap;
  flex-direction: row;
}
.page-display1 {
  display: flex;
  flex: 0 0 75%;
  flex-direction: column;
}
.page-wrap-tools-bar {
  display: flex;
  flex: 0 0 25%;
  padding: 0 10px;
  flex-direction: column;
  padding-right: 30px;
  flex: 1;
}
.page-tools-bar {
  min-height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 991;
}
.page-tools-element {
  display: flex;
  flex-direction: column;
  flex: 0 0 40px;
  font-size: 12px;
  margin-bottom: 10px;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}
.page-tools-element:last-of-type {
  border-bottom: none;
}
.page-tools-select {
  display: flex;
  flex-direction: row;
  flex: 0 0 40px;
  justify-content: space-between;
}
.page-element-expand {
  flex: 0 0 200px;
  max-height: 200px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-y: auto;
  justify-content: center;
}

.page-element-expand-child {
  flex: 0 0 40px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.page-element-expand-child:hover {
  background-color: #ddd;
  border-bottom: 1px solid #d1d1d1;
}

.page-element-expand-size {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  height: 30px;
  width: 20%;
}
.page-element-expand-size:hover {
  background-color: #ddd;
  border-bottom: 1px solid #d1d1d1;
}

.page-element-expand-price {
  flex: 0 0 auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.page-element-expand-price input {
  height: 30px;
  width: 80px;
  padding: 5px;
}

.page-tools-element h2 {
  cursor: pointer;
  font-weight: 100;
  height: 55%;
}

.page-main-container {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  max-width: 1200px;
  margin: 50px auto;
  width: 100%;
  flex-direction: row;
}
.product {
  flex: 0 0 33.33334%;
  height: 400px;
  display: block;
  margin-bottom: 3px;
  position: relative;
}
.product1 {
  flex: 0 0 200px;
  width: 100%;
  display: block;
  margin-bottom: 3px;
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  margin-left: 10px;
}
.product-flex-box {
  display: flex;
  height: 400px;
  flex-direction: column;
  margin-left: 10px;
}
.product-flex-box > div:first-child {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}
.product-flex-box1 {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.product:nth-child(3n) .product-flex-box {
  margin-right: 5px;
}

.product-flex-box > div > img {
  height: 200px;
  width: 250px;
  margin-bottom: 10px;
}
.product-flex-box1 > div:first-child {
  width: 200px;
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}
.product-flex-box1 > div > img {
  width: 150px;
  height: 150px;
}

.product-add-like {
  position: absolute;
  right: 5px;
  top: 340px;
}
.product-add-like1 {
  position: absolute;
  left: 230px;
  bottom: 40px;
}
.product-name1 {
  display: flex;
  flex: 1;
  height: 100%;
  padding: 0 30px;
  flex-direction: column;
}
.product-name {
  display: flex;
  flex: 1;
  padding: 10px 0;
  flex-direction: column;
}
.product-name > span {
  padding: 5px 0 !important;
  height: 30px;
}
.product-name1 > span {
  padding: 0 !important;
  font-size: 15px !important;
}
.product-name1 > span:first-child {
  padding-bottom: 10px !important;
}
.product-name1 > span:last-child {
  margin-top: 15px;
}
